{% extends 'mainbase.html'%}
{% load static %}
{% block title%}gallery{%endblock title%}
{% block navs%}

 <nav class="nav">
    <a class="nav-link active" href="{% url 'mainhome'%}">Home</a>
    <a class="nav-link" href="{% url 'course'%}">Course</a>
    <a class="nav-link" href="{% url 'gallery'%}">Gallery</a>
    <a class="nav-link" href="{% url 'contact'%}">Contact</a>
  </nav> 
  {% endblock %}
{%block content%}
<h1 class="text-center">gallery</h1>
<hr>
<div style="width:50; height:50;">
<img src="{% static 'image/s2.jpg'%}" class="rounded float-left" alt="..." style="width:70vh;height:50vh;">
</div>
<div style="width:50; height:50;">
<img src="{% static 'image/ll.jpeg'%}" class="rounded float-right" alt="..." style="width:70vh;height:50vh;">
</div>
<img src="{% static 'image/l3.jpg'%}" class="rounded float-right" alt="..." style="width:70vh;height:50vh;">

{%endblock content%}